<div class="om-container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <iframe style="border: 0; width: 350px; height: 620px;" src="https://bandcamp.com/EmbeddedPlayer/album=1912500894/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=true/transparent=true/" seamless><a href="http://ororomohawk.bandcamp.com/album/lilith">LILITH by Ororo Mohawk</a></iframe>
      <h3><%= link_to "_LILITH LYRICS", "https://genius.com/albums/Ororo-mohawk/Lilith" %></h3>
      <ol>
        <li> <%= link_to "Kiryūin Satsuki", "https://genius.com/Ororo-mohawk-kiryuin-satsuki-lyrics" %> </li>
        <li> <%= link_to "Akasha", "https://genius.com/Ororo-mohawk-akasha-lyrics" %> </li>
        <li> <%= link_to "Medusa", "https://genius.com/Ororo-mohawk-medusa-lyrics" %> </li>
        <li> <%= link_to "Laurie Brown (realeSt wet sKy)", "https://genius.com/Ororo-mohawk-laurie-brown-realest-wet-sky-lyrics" %> </li>
        <li> <%= link_to "Yasser Arafat (Human Centipede)", "https://genius.com/Ororo-mohawk-yasser-arafat-human-centipede-lyrics" %> </li>
        <li> <%= link_to "Ada Lovelace", "https://genius.com/Ororo-mohawk-ada-lovelace-lyrics" %> </li>
        <li> <%= link_to "Kate Moss", "https://genius.com/Ororo-mohawk-kate-moss-lyrics" %> </li>
      </ol>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <iframe style="border: 0; width: 350px; height: 620px;" src="https://bandcamp.com/EmbeddedPlayer/album=4101184538/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=true/transparent=true/" seamless><a href="http://ororomohawk.bandcamp.com/album/hyperbolic-rhyme-chamber">Hyperbolic Rhyme Chamber by Ororo Mohawk</a></iframe>
      <h3><%= link_to "HYPERBOLIC RHYME CHAMBER LYRICS", "https://genius.com/albums/Ororo-mohawk/hyperbolic-rhyme-chamber" %></h3>
      <ol>
        <li> <%= link_to "¥ung Gohan", "https://genius.com/Ororo-mohawk-ung-gohan-lyrics" %> </li>
        <li> <%= link_to "Kusanagi", "https://genius.com/Ororo-mohawk-kusanagi-lyrics" %> </li>
        <li> <%= link_to "Britta Perry", "https://genius.com/Ororo-mohawk-britta-perry-lyrics" %> </li>
      </ol>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <iframe class="col-xs-12 col-sm-6 col-md-4 col-lg-3" style="border: 0; width: 350px; height: 620px;" src="https://bandcamp.com/EmbeddedPlayer/album=3869942056/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=true/transparent=true/" seamless><a href="http://ororomohawk.bandcamp.com/album/wing-zero">wing ZERO by Ororo Mohawk</a></iframe>
    <h3><%= link_to "WING ZERO LYRICS", "https://genius.com/albums/Ororo-mohawk/wing-ZERO" %></h3>
      <ol>
        <li><%= link_to "Heraclitus (ASMR) feat. The Duchess of Winnipeg", "https://genius.com/Ororo-mohawk-heraclitus-asmr-lyrics" %></li>
        <li><%= link_to "Mark Critch", "https://genius.com/Ororo-mohawk-mark-critch-lyrics" %></li>
        <li><%= link_to "$cott $ummers", "https://genius.com/Ororo-mohawk-cott-summers-lyrics" %></li>
      </ol>
    </div>
    <div id="lyrics"></div>
    <div class="insta col-lg-12">
      <a href="https://www.instagram.com/ororomohawk/"><i class="fab fa-instagram fa-lg"></i></a>
    </div>
    <%= render 'components/footer-nav' %>
  </div>
</div>
