<div class="container">
  <p>Due to their explicit themes, most of my drawings are hidden on a page reserved for mature audiences only. <br> See if you can find it.</p>
  <p>For now, enjoy...</p>
  <div class="comic" id="water-closet-phenomenology">
    <h4>The Phenomenology of Water Closets</h4>
      <%= image_tag "https://i.imgur.com/bIlEtCm.jpg", width: "400px" %>
      <%= image_tag "https://i.imgur.com/SV56b9e.jpg", width:
      "400px" %>
      <%= image_tag "https://i.imgur.com/BrwI17G.jpg", width: "300px" %>
      <%= image_tag "https://i.imgur.com/Il2Fo2L.jpg", width: "400px" %>
      <%= image_tag "https://i.imgur.com/nj45lcg.jpg", width: "400px" %>
      <%= image_tag "https://i.imgur.com/uLHuA52.jpg", width: "575px" %>
  </div>
  <div class="navigation">
    <ul class="list-inline">
      <li><%= link_to "Back", images_path, class: "btn-large" %></li>
      <li><%= link_to "Home", home_path, class: "btn-large" %></li>
    </ul>
  </div>
</div>
