<div class="gallery">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
      <blockquote class="twitter-tweet" data-conversation="none" data-lang="en"><p lang="und" dir="ltr"> <a href="https://t.co/sZNprkBoZl">pic.twitter.com/sZNprkBoZl</a></p>&mdash; absurdest absurdist🎄 (@Clever_MetaName) <a href="https://twitter.com/Clever_MetaName/status/1078510204688318464?ref_src=twsrc%5Etfw">December 28, 2018</a></blockquote>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <% @graphics.each do |g| %>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="thumbnail">
          <a href="<%= g.url %>" target="_blank">
            <%= image_tag "#{g.url}", width: "cover"; %>
              <div class="caption">
                  <%= g.caption %>
              </div>
          </a>
        </div>
      </div>
    <% end %>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
      <div class="thumbnail">
        <a href="<%= g.url %>" target="_blank">
          <blockquote class="imgur-embed-pub" lang="en" data-id="laCsBXa"><a href="//imgur.com/laCsBXa"></a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>
          <div class="caption">
            <p>OM tee</p>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="navigation">
    <ul class="list-inline">
      <li><%= link_to "Back", images_path, class: "btn-large" %></li>
      <li><%= link_to "Home", home_path, class: "btn-large" %></li>
    </ul>
  </div>
</div>
