<div class="rhyparography-container">
  <div class="intro">
    <h4>Rhyparography</h4>
    <h5>/ɹɪ.pəˈɹɒ.ɡɹə.fi/</h5>
    <p><em>(arts) The painting or literary depiction of mean or sordid things; especially still-life or genre painting. <br> From Ancient Greek ῥύπος (rhúpos, “filth”) +‎ -graphy.</em></p>
    <p>The aim is to emulate the vivid grotesquery of a <span><em><a href="https://www.google.com/search?q=spongebob+close+up" style="color:#fefcff">Spongebob Close Up</a></em></span> <%= image_tag "link-symbol.svg", width: "10px" %>.<br>I delight in perverse, revolting, and hideous things because they express the beautiful absurdity and agonizing frustration of physical existence.</p>
    <p></p>
</div>
  <div class="disgust" id="rope-hair">
    <div id="eulogy">
      <p>wipe my ass with my hand and then i'll make ya shake it</p>
      <p>braid my hair into a rope, and run around naked</p>
    </div>
    <%= image_tag "https://i.imgur.com/HCznIb3.jpg", width: "480px" %>
    <%= image_tag "https://i.imgur.com/FokWGF0.jpg", width: "480px" %>
    <%= image_tag "https://i.imgur.com/39XSAdR.png", width: "420px" %>
    <%= image_tag "https://i.imgur.com/sUOQ97d.png", width: "420px" %>
    <%= image_tag "https://i.imgur.com/SDSkvSS.jpg", width: "420px" %>
    <%= image_tag "https://i.imgur.com/CDIxahH.jpg", width: "360px" %>
    <%= image_tag "https://i.imgur.com/uoJ3h7d.jpg", width: "420px" %>
    <%= image_tag "https://i.imgur.com/SmR7ws4.jpg", width: "420px" %>
  </div>
  <div class="disgust">
    <%= image_tag "https://i.imgur.com/aPMrx9e.jpg", width: "720px" %>
    <%= image_tag "https://i.imgur.com/OVwLvkQ.jpg", width: "360px" %>
  </div>
  <div class="disgust" id="sick-comeback">
    <%= image_tag "https://i.imgur.com/LUBnAG1.jpg", width: "840px" %>
  </div>

  <div class="disgust" id="turn-tables">
    <%= image_tag "https://i.imgur.com/n5KxUdh.jpg", width: "480px" %>
  </div>

  <div class="disgust" id="eruptions">
    <%= image_tag "https://i.imgur.com/n66gNXw.jpg", width: "360px" %>
    <%= image_tag "https://i.imgur.com/PxZtiaL.jpg", width: "360px" %>
    <%= image_tag "https://i.imgur.com/j9NwhwS.jpg", width: "360px" %>
  </div>

  <div class="disgust" id="titty-balls">
    <%= image_tag "https://i.imgur.com/M2LsWLz.jpg", width: "480px" %>
  </div>

  <div class="disgust" id="bong-water">
    <%= image_tag "https://i.imgur.com/TgRMf8d.jpg", width: "360px" %>
    <%= image_tag "https://i.imgur.com/YFqghCA.jpg", width: "360px" %>
  </div>

  <div class="disgust" id="davids-feet">
    <%= image_tag "https://i.imgur.com/X7rFFSR.jpg", width: "720px" %>
  </div>
  <div class="disgust" id="good-vibrations">
    <%= image_tag "https://i.imgur.com/8dWJUu4.jpg", width: "480px" %>
  </div>
  <div class="disgust" id="makeover">
    <%= image_tag "https://i.imgur.com/JNhh4iK.jpg", width: "666px" %>
  </div>
  <div class="disgust">
    <%= image_tag "https://i.imgur.com/HT5IAjR.jpg", width: "720px" %>
  </div>
  <div class="disgust" id="white-saviourism">
    <%= image_tag "https://i.imgur.com/JVQIi50.jpg", width: "720px" %>
  </div>
  <div class="disgust" id="beauty-pageant">
    <%= image_tag "https://i.imgur.com/5Yc5jlA.jpg", width: "540px" %>
  </div>
   <div class="disgust" id="world">
    <%= image_tag "https://i.imgur.com/lMKjUCZ.png", width: "360px" %>
  </div>
  <div class="disgust" id="most-beautiful">
    <%= image_tag "https://i.imgur.com/TSjdrY6.jpg", width: "720px" %>
  </div>
  <br>
  <br>
  <%= render 'components/footer-nav' %>
</div>
